
<div class="container mx-auto pt-5">
  <%= form_with(model: @color_plate , data: { controller: "color-picker" } ) do |f| %>
    <div class="my-5">
      <h1 class=" text-2xl text-blue-500"><%= f.label :color_name %></h1>
      <p ><%= f.text_field :color_name %></p>
    </div>  
    
    <div class="my-5">
      <h1 class=" text-2xl text-blue-500"><%= f.label :color %></h1> 
      <%= color_field_tag(:div, "", class:"picker", data: {
      color_picker_target: "picker"
      }) %>
    </div>
    
    <div class="my-5">
    <p><%= f.submit "Add Color" %></p>
    </div>
    <br/>
    <button class=" bg-blue-500 ">
          Button
    </button>

    <br/>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
          Button
    </button>
  <% end %>
</div>  
